[Unit]
Description=udp over tls tunnel
After=syslog.target network-online.target
Wants=network-online.target

[Service]
Type=simple
PIDFile=/run/udp-over-tls.pid
ExecStart= /root/udp-over-tls/udp-over-tls /root/udp-over-tls/
Restart=on-failure
RestartSec=1s

[Install]
WantedBy=multi-user.target